<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{product/layout}">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <!--    boostrap-->
    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">-->
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script>
        function checkPreviousDisable() {
            let previous = document.getElementById("li-previous");
            let classDisabled = previous.classList.contains("disabled");
            return !classDisabled;
        }

        function checkNextDisable() {
            let next = document.getElementById("li-next");
            let classDisabled = next.classList.contains("disabled");
            return !classDisabled;
        }
    </script>
</head>
<body onload="checkPreviousDisable()" layout:fragment="content">
<h1>Product List</h1>
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Image URL</th>
        <th>Information</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${page.getItems()}">
        <td th:text="${product.getName()}"></td>
        <td th:text="${product.getPrice()}"></td>
        <td th:text="${product.getQuantity()}"></td>
        <td th:text="${product.getImage()}"></td>
        <td><a th:href="'/admin/product/information?id=' + ${product.getId()}">i</a></td>
    </tr>
    </tbody>
</table>
<div>
    <!--    paging-->
    <ul class="pagination">
        <li  th:classappend="${page.getPageNumber() == 0}? disabled" id="li-previous" class="page-item">
            <a class="page-link"
               onclick="return checkPreviousDisable()"
               th:href="${page.getPageNumber() == 0} ? '' : '/admin/product/list?page=' + ${page.getPageNumber() - 1}"
            >Previous</a>
        </li>
        <li class="page-item" th:each="pageNum : ${#numbers.sequence(0, (page.getTotalPages() - 1 > 0) ? (page.getTotalPages() - 1) : 0)}"
            th:classappend="${page.getPageNumber() == pageNum} ? active">
            <a class="page-link"
               th:href="'/admin/product/list?page=' + ${pageNum}" th:text="${pageNum}"></a>
        </li>
        <li class="page-item" th:classappend="${page.getPageNumber() == page.getTotalPages() - 1}? disabled" id="li-next">
            <a class="page-link"
               onclick="return checkNextDisable()"
               th:href="${page.getPageNumber() == page.getTotalPages() - 1} ? '' : '/admin/product/list?page=' + (${page.getPageNumber() + 1})">Next</a>
        </li>
    </ul>
</div>
</body>
</html>