<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Information Product</h1>-->
<!--<table border="1px">-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th>Name</th>-->
<!--    <th>Price</th>-->
<!--    <th>Quantity</th>-->
<!--    <th>Action</th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  <tr th:each="product: ${products}" var="p">-->
<!--    <td th:text="${p.getName()}"></td>-->
<!--    <td th:text="${p.getPrice()}"></td>-->
<!--    <td th:text="${p.getQuantity()}"></td>-->
<!--    <td><a th:href= "products/buynow">Buy Now</a></td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->
<!--</body>-->
<!--</html>-->