<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Tasks</h1>
<table border="1px">
    <thead>
    <tr>
        <th>
            ID
        </th>
        <th>
            Name
        </th>
        <th>
            price
        </th>
        <th>
            quantity
        </th>
        <th>
            Image
        </th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product: ${products}">
        <td th:text="${product.getId()}"></td>
        <td th:text="${product.getName()}"></td>
        <td th:text="${product.getPrice()}"></td>
        <td th:text="${product.getQuantity()}"></td>
        <td>
            <img th:src="${product.getImage()}">
        </td>
        <td>
            <a th:href="'product/edit?id=' + ${product.getId()}">Edit</a>
            &nbsp;&nbsp;&nbsp;
            <a th:href="'product/addtocart?id=' + ${product.getId()}">Add to Cart</a>
        </td>
    </tr>
    </tbody>
</table>
<!--<a th:href= "products/viewtocart">View to Cart</a>-->
</body>
</html>