<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>UploadSuccess</title>
</head>
<body>
<h1>Information Product</h1>
<table border="1px">
  <thead>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Image URL</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td th:text="${product.getName()}"></td>
    <td th:text="${product.getPrice()}"></td>
    <td th:text="${product.getQuantity()}"></td>
    <td>
      <img th:src="${'data:image/png;base64,' + image}" alt="product_image" style="max-width: 100px">
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>