<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Training Java</title>
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<header th:replace="~{product/fragments/header :: header}"></header>
<main>
    <div class="">
        <div class="row">
            <aside th:replace="~{product/fragments/sidebar-left :: sidebar-left}"></aside>
            <section class="content-body col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <div layout:fragment="content">
                    <!-- Main content of the page goes here -->
                </div>
            </section>
        </div>
    </div>
</main>
</body>
</html>